@import url('https://fonts.googleapis.com/css2?family=Roboto&family=VT323&display=swap');

body {
    background-color: lightpink;
    font-family: 'Roboto', sans-serif;
}

.start {
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: darkgrey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
    border: 3px solid rgba(255,255,255,0.7);
    border-right-color: rgba(0,0,0,0.7);
    border-bottom-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 0 2px darkgrey;
    /*box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7), -4px -4px 0 -2px rgba(255,255,255,0.7);*/
}

.name {
    width: 200px;
}

/*.play {
    width: 200px;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    color: darkblue;
}

.play:hover {
    background-color: lightblue;
    cursor: pointer;
    color: deeppink;
}*/

input[type='radio']:checked {
    color: black;
}

h1 {
    position: absolute;
    font-family: 'VT323', monospace;
    font-size: 60px;
}

.points {
    left: 25px;
}

.turn {
    right: 25px;
}

.factory {
    position: relative;
    text-align: center;
}

.factory img {
    margin-top: 100px;
    width: 1000px;
    max-width: 100%;
}

.factory__form h4,
.start h4,
h4 {
    padding: 0 10px;
    margin: 3px;
    margin-bottom: 25px;
    line-height: 2;
    text-align: left;
    color: white;
    background-color: blue;
    /*font-family: 'VT323', monospace;*/
}

.factory__form label{
    margin-left: 10px;
    text-transform: capitalize;
}

.form__element {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: auto;
    margin: 0 25px;
    background-color: darkgrey;
    text-align: left;
    line-height: 2;
    border: 2px solid white;
    border-right-color: black;
    border-bottom-color: black;
    box-shadow: 0 0 0 1px darkgrey;
    /*box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7), -4px -4px 0 -2px rgba(255,255,255,0.7);*/
}

.milk {
    text-align: center;
}

.milk label {

}

.form__submit,
.play,
.restart  {
    width: 90px;
    margin-top: 10px;
    padding: 3px 0;
    background-color: darkgrey;
    font-size: 14px;
    border: 2px solid white;
    border-right-color: black;
    border-bottom-color: black;
}

.board {
    position: absolute;
    width: 450px;
    height: 426px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0 0 150px 150px rgba(255,255,255,0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cookieImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 426px;
}

.result {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    z-index: 10;
    transform: translateY(400px);
}

.centered {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: darkgrey;
    border: 2px solid white;
    border-right-color: black;
    border-bottom-color: black;
    box-shadow: 0 0 0 1px darkgrey;
}
